.App {
    display: flex;
}

.App ul {
    padding: 0;
    margin: 0;
}

.App li {
    list-style: none;
}

.App>*:first-child {
    width: 20vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.App>*:last-child {
    width: 80vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
}

h1 {
    font-size: 1rem;
    padding-right: 4.5rem;
}

.comp-responsive-filter-button {
    display: none;
}

@media (max-width: 1199.98px) {
    .App>*:first-child {
        width: 30vw;
    }
    .App>*:last-child {
        width: 70vw;
    }
}

@media (max-width: 991.98px) {
    .App>*:first-child {
        width: 30vw;
    }
    .App>*:last-child {
        width: 70vw;
    }
}

@media (max-width: 767.98px) {
    .comp-responsive-filter-button {
        display: block;
        z-index: 2;
        position: fixed;
        right: 1rem;
        top: 0.5rem;
    }
    .App>*:first-child.comp-list-close {
        display: none;
    }
    .App>*:first-child {
        z-index: 1;
        position: fixed;
        width: 100vw;
    }
    .App>*:last-child {
        width: 100vw;
    }
}

@media (max-width: 575.98px) {
    .App>*:first-child {
        width: 100vw;
    }
    .App>*:last-child {
        width: 100vw;
    }
}

.comp-checkbox-children-container label {
    padding-left: 3rem;
    background: #007bff;
    border: none;
}

.card-columns .card {
    border: none;
}